:root {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 0;

  /* SETUP SOME VARIABLES */
  --max-width: 1440px;
  --padding-size: 3vw;
  --padding-size-content: calc(5vw + 52px) ;
  --background-color-html: #f3f2ef;
  --background-color: white;
  --searchbar-color: #eef3f7;
  --border-color-main: #dcdcdc;
  --border-color-button: #909090;
  --border-color-button-hover: #5e5e5e;
  --font-color-principal: #313131;
  --font-color-secondary: #808080;
  --color-blue-fill: #0A66C2;
  --color-dark-blue-fill: #004182;
  --color-gray-fill: #E9E5DF;
  --color-dark-gray-fill: #EBEBEB;
}

/* SETUP GENERAL CLASSES FOR FLEX COMPOSITIONS*/

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* ----- BODY SETUP & GENERAL OPTIONS----- */

body {
  position: relative;
  margin: 0;
  width: 100vw;
  background: var(--background-color-html);
}

main {
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 50px;
}

section {
  background: var(--background-color);
  margin: 3vh 0;
}

h1, h2, h3, p {
  color: var(--font-color-principal);
}

h1 {
  font-weight: 600;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
  padding-left: var(--padding-size);
}

h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  width: 90%;
  max-width: var(--max-width);
}

/* ----- HEADER ----- */

header {
  position: fixed;
  top: 0;
  background: var(--background-color);
  width: 100vw;
  height: 45px;
  padding-left: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  z-index: 999;
}

header div {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

img {
  max-height: 100%;
}

/* LOGO & SEARCHBAR */

figure {
  margin: 0;
}

label:hover {
  cursor: text;
}

.logoLinkedin {
  width: 34px;
}

.searchBar {
  margin: 0 0.7vw;
  background: var(--searchbar-color);
  width: 20vw;
  max-width: 250px;
  height: 70%;
  border-radius: 8px;
}

#loupe {
  height: 1rem;
  padding: 0.4rem;
}

#search {
  border: none;
  width: 100%;
  background: var(--searchbar-color);
}

#search:focus-visible {
  outline: none;
}

/* SEARCHBAR ANIMATION*/

.searchBar:focus-within {
  transition: width 500ms cubic-bezier(0.73, 0.06, 0.99, 0.7);
  width: 30vw;
  max-width: 350px;
}

.searchBar:not(:focus-within) {
  transition: width 50ms linear;
}

/* SEARCHBAR SHADOW EFFECT */

#shadow {
  position: absolute;
  width: 100%;
  height: 0;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 0;
  background: black;
  z-index: 100;
  filter: opacity(0);
}

.searchBar:focus-within #shadow {
  transition: filter 500ms;
  transition: height 1s;
  filter: opacity(0.8);
  height: 100vh;
}

.searchBar:not(focus-within) #shadow {
  transition: filter 500ms;
}


/* NAVBAR */

nav {
  height: 100%;
  font-size: 0.6rem;
}

nav img {
  height: 20px;
}

nav a {
  width: 55px;
  filter: opacity(0.75);
}

nav a:hover {
  filter: opacity(1);
}

nav ul {
  justify-content: space-between;
  margin-block-start: 0;
  margin-block-end: 0;
  gap: 10px;
  height: 100%;
}

nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SIDE MENU */

.sideMenu {
  height: 5vh;
  padding-left: var(--padding-size);
}

.sideMenu img {
  object-fit: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.sideMenu p {
  font-size: 0.75rem;
}
.sideMenu div {
  display: flex;
  align-items: center;
  gap: 3px;
  width: 100%;
  height: 100%;
  filter: opacity(0.75);
}

#triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid black;
}

.sideMenu a:hover div {
  filter: opacity(1);
}

/* ----- MAIN CONTENT ----- */

/* ----- HEADLINE BLOCK ----- */

.headline {
  border-left: 1px solid var(--border-color-main);
  border-right: 1px solid var(--border-color-main);
  border-bottom: 1px solid var(--border-color-main);
  border-radius: 10px;
}

/* BACKGROUND */

#background {
  background-image: url("assets/background.jfif");
  background-size: cover;
  width: 100%;
  height: 20vw;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 5rem;
}

#background a {
  position: absolute;
  bottom: 0;
  transform:translateY(40%);
}

#background img {
  height: 152px; /* Linkedin measures 152x152px */
  width: 152px;

  margin: 0 var(--padding-size);
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--background-color);

}

/* HEADLINE INFOS */

h1 {
  margin: 1vh 0;
}

.basicInfo {
  padding: 0 var(--padding-size);
  max-width: 60%;
}

.basicInfo .local {
  padding: 4px 0;
  font-size: 0.8rem;
  color: var(--font-color-secondary);
}

/* HEADLINE BUTTONS */

.basicInfo .editButtons {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.basicInfo button {
  width: fit-content;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.75vh 2.5vh;
  border: 1.5px solid var(--border-color-button);
  border-radius: 1rem;
}

.basicInfo #but1 {
  border: none;
  background-color: var(--color-blue-fill);
  color: var(--background-color);
}

.basicInfo #but1:hover {
  background-color: var(--color-dark-blue-fill);
  cursor: pointer;
}

.basicInfo #but2, #but3 {
  background-color: var(--background-color);
  color: var(--font-color-secondary);
}

.basicInfo #but2:hover, #but3:hover {
  background-color: var(--color-dark-gray-fill);
  margin: -0.5px;
  color: var(--font-color-secondary);
  border: 2px solid var(--border-color-button-hover);
  cursor: pointer;
}

/* ----- INFORMATION BLOCK ----- */

.information {
  border: 1px solid var(--border-color-main);
  border-radius: 10px;
  border-bottom: 1px solid var(--border-color-main);
}

.experience {
  border-bottom: 1px solid var(--border-color-main);
}

.logo img {
  height: 52px;
  width: 52px;
  vertical-align: top;
}

.infoHeader {
  margin-bottom: 1rem;
  padding-left: var(--padding-size);
}

.infoHeader p {
  font-size: 0.9rem;
}

.infoHeader div {
  padding-left: 2vw;
}

.infoHeader .timeAndLocal {
  color: var(--font-color-secondary);
  font-size: 0.8rem;
}

.infoContent {
  margin-bottom: 1rem;
  padding-left: var(--padding-size-content);
}

.infoContent p {
  padding-right: 20vw;
}

.contentBox {
  border-bottom: 1px solid var(--border-color-main);
  padding-bottom: 1rem;
}

#last{
  border: none;
}

.infoHeader a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-blue-fill);
}


/* ----- SOME MEDIA QUERY FOR FUN ----- */

@media screen and (max-width: 768px) {
  :root {
    --max-width: 100vw;
  }

  header {
    min-width: 0;
  }

  .searchBar {
    width: 100px;
  }

  .searchBar:focus-within {
    transition: width 500ms cubic-bezier(0.86,-0.03, 0.19, 1.81);
    width: 150px;
  }
  
  .searchBar:not(:focus-within) {
    transition: width 50ms linear;
  }

  #background img {
    height: 90px;
    width: 90px;
  }

  nav p {
    display: none;
  }

  nav a {
    width: 100%;
  }

  #but1, #but2 {
    font-size: 0.65rem;
  }

  #but3 {
    display: none;
  }
}


@media screen and (min-width: 1080px) {

  .basicInfo .editButtons {
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .basicInfo button {
    width: fit-content;
    font-size: 1rem;
    font-weight: 700;
    padding: 1.2vh 4vh;
    border: 1.5px solid var(--border-color-button);
    border-radius: 2rem;
  }
}